$main-nav-color: #1f2532;
$highlight-color: #3f93d3;
body {
    padding-top: 50px;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none!important;
    .in {
        display: block !important;
    }
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    >li {
        float: none;
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.profile {
    display: flex;
    padding: .5em;
    .fa {
        width: 32px;
        height: 32px;
    }
    .image {
        width: 32px;
        height: 32px;
        border: 2px solid $highlight-color;
    }
}

.search-bar {
    margin: 20px 20px;
}

.main-nav {
    height: 100px;
    background: $main-nav-color;
    background-size: cover;
    white-space: nowrap;
    .navbar-nav {
        min-width: 100%;
        text-align: center;
        color: white;
        margin: 0;
        white-space: nowrap;
        >li {
            display: inline-block;
            width: 20% a {
                color: white;
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 600px) {
    .main-nav {
        position: absolute;
    }
}

@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}