$default-green: #1d8074;
$default-gold: #e0e76f;
$default-grey: #e0e2e0;
$highlight-color: #3f93d3;
$main-nav-color: #1f2532;
body,
html {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-container {
    margin-top: 102px
}

nav {
    .navbar-brand {
        position: absolute;
        width: 100%;
        left: 45%;
    }
    .navbar-header {
        float: none;
        display: inline-block;
    }
    .navbar-left {
        float: left;
        margin-left: 15px;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        >li {
            float: none;
        }
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .collapse.in {
        display: block !important;
    }
    .profile {
        display: flex;
        padding: .5em;
        .fa {
            width: 32px;
            height: 32px;
        }
        .image {
            width: 32px;
            height: 32px;
            border: 2px solid $highlight-color;
        }
    }
    .search-bar {
        margin: 20px 20px;
    }
}

.main-nav {
    background: $main-nav-color;
    padding: 10px 0 5px 0;
    li {
        width: 15%;
        font-size: 1.1em;
        white-space: nowrap;
        a {
            color: white;
        }
    }
    .list-inline {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        text-align: -webkit-center;
        .active {
            a {
                color: $highlight-color;
            }
        }
    }
}

iq-stacked-bar-chart {
    width: 100%;
    height: 100%;
}

.green {
    color: $default-green;
}

.gold {
    color: $default-gold;
}

.grey {
    color: $default-grey;
}

.small {
    font-size: .6em;
}

.align-middle {
    vertical-align: middle;
}

.ksa {
    padding-left: 10px;
    padding-bottom: 10px;
}

@media (max-width: 480px) {}

@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (max-width: 991px) {
    .main-container {
        margin-top: 90px;
    }
    .main-nav {
        li {
            width: 18%;
            font-size: .7em;
        }
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}