body {
    padding-top: 70px;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none!important;
    .in {
        display: block !important;
    }
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    >li {
        float: none;
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.profile-pic {
    width: 64px;
    height: 64px;
}