<div class="communities-header">
    <div class="col-sm-12">
        <div class="col-sm-1">
            <div class="header-logo">
                <img src="../../../images/communities-logo.png" alt="communities-logo">
            </div>
        </div>
        <div class="col-sm-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu nulla ligula. Etiam vulputate lobortis nunc, non tempus libero dapibus a. Sed non cursus odio. Vivamus vitae justo eu metus sagittis aliquet in ultrices dolor. Sed vitae auctor quam,
            nec commodo diam. Ut iaculis metus ac tempor ultrices. Sed sagittis elit vel mi varius, a porttitor urna malesuada. Nullam tincidunt velit tincidunt pretium vehicula. Pellentesque finibus hendrerit ligula, sit amet tincidunt ex varius id.
        </div>
        <div class="col-sm-1">
            <div class="cog">
                <span class="fa fa-cog fa-2x" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter..." aria-describedby="filter names">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="letters">
            <span class="letter" ng-repeat="letter in vm.alphabet">{{letter| uppercase}}</span>
        </div>
    </div>
    <div class="col-sm-1">
        <span class="fa fa-paper-plane fa-2x" data-toggle="tooltip" title="Email selected members" aria-hidden="true"></span>
    </div>

    <div class="col-sm-12">
        <div ng-repeat="person in vm.peopleToDisplay">
            <div class="col-sm-4">
                <div class="person" ng-click="person.checked = !person.checked">
                    <img class="image img-circle" ng-class="{border: person.checked}" src="../../images/profile.png" alt="{{person.nm}}">
                    <img ng-if="!person.checked" class="overlay image img-circle" src="../../images/unchecked.png">
                    <img ng-if="person.checked" class="overlay image img-circle" src="../../images/checked.png">
                    <span class="info">
                        <div class="name">
                            {{person.nm}}
                        </div>
                        <div class="email">
                            fake@email.com
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="col-sm-2 col-sm-offset-5">
            <button type="button" class="btn btn-default" ng-click="vm.loadMore()">Load More</button>
        </div>
    </div>
</div>