<div class="main-nav">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#"><img class="img-responsive" src="../../images/main-nav/passport.png" alt="passport">
                            <div>
                                Passport
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="img-responsive" src="../../images/main-nav/projects.png" alt="projects">
                            <div>
                                Projects
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="img-responsive" src="../../images/main-nav/workgroups.png" alt="workgroups">
                            <div>
                                Workgroups
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="img-responsive" src="../../images/main-nav/profiles.png" alt="profiles">
                            <div>
                                Role Profiles
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="img-responsive" src="../../images/main-nav/communities.png" alt="communities">
                            <div>
                                Communities
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>