<nav class="navbar navbar-default navbar-fixed-top" ng-init="showSearch=false">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div class="navbar-collapse collapse"></div>
        <div class="profile pull-right">
            <span class="fa fa-search fa-2x" aria-hidden="true" ng-click="showSearch=!showSearch"></span>
            <span>
                <img class="image img-circle" src="../../images/profile.png" alt="profile-pic">
            </span>
        </div>
    </div>
</nav>

<ng-include src="'scripts/layout/navbar/searchbar.html'"></ng-include>

<ng-include src="'scripts/layout/navbar/main-nav.html'"></ng-include>