<div class="container-fluid">
    <div ng-repeat="headstones in vm.headstones track by $index">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a ng-click="vm.openModal($index)">
                <div class="thumbnail">
                    <img class="img-responsive" ng-src="{{headstones.image_path}}" onerror="this.src='../../images/headstones/no-image.png'">
                    <div class="thumbnail-text">{{headstones.number}}. {{headstones.description}}</div>
                </div>
            </a>
        </div>
    </div>
</div>