<div id="headstones-modal">
    <div class="modal-header">
        <div id="modal-glyphicon">
            <h3><a href="#" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove-circle"></span></a></h3>
        </div>
    </div>
    <div id="carousel">
        <div class="container-fluid">
            <uib-carousel no-wrap="false">
                <uib-slide ng-repeat="headstone in vm.headstones" active="headstone.active">
                    <h4>{{headstone.number}}. {{headstone.description}}</h4>
                    <img class="img-responsive" ng-src="{{headstone.image_path}}">
                </uib-slide>
            </uib-carousel>
        </div>
    </div>
</div>